*{  
    box-sizing: border-box;
}
body{
    background-color: tan;
    background-image: url(.\assets\images\6389370_3259804.jpg);
    background-position: center;
    background-size: cover;
}
header{
    display:flex;
    flex-direction: row;

}
.headshot{
    padding:20px;
    size:50px;
    background-image: url(.\assets\images\harmony.jpg);
    background-size: 40px;
    background-position: center;
}
.name {
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size:60px;
    color:rgb(87, 119, 87);
    background-color: rgb(65, 45, 25);
    display:flex;
    justify-content: flex-start;
}
.nav-links {
    padding: 20px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    color:lightskyblue;
    display:flex;
    justify-content: space-around;
    
   
    

}