body{
    background-color: tan;
}
header{
    display:flex;
    flex-direction: row;

}
.headshot{
    padding:20px;
    size:50px;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size:60px;
    color:rgb(87, 119, 87);
    background-color: rgb(65, 45, 25);
    display:flex;
    justify-content: flex-start;
}
.nav-links {
    padding: 20px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    color:lightskyblue;
    display:flex;
    justify-content: space-around;
    
   
    

}